.app__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    
    
    background-color: var(--black-color);
    // background: -webkit-linear-gradient(-90deg, rgba(255,247,244,1) 0%, rgba(247,240,234,1) 45%, rgba(243,230,224,1) 100%);
}


.app__about-img {
    flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

    img {
        width: 400px;
    }

  margin-left: 2rem;
}

.app__about-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2rem;

    h1 {
        font-family: var(--font-base);
        color: var(--highEmph-color);
        font-size: 70px;
    }

    p {
        font-family: var(--font-alt);
        color: var(--mediumEmph-color)
    }
}


@media screen and (max-width: 390px) {
    .app__about-text {
        padding: 1rem;
        
    }
    
    .app__about-img {
        display: none;
    }
}