form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 3px;
}



.form-floating {
    position: relative;
    margin: 0.75rem;
    width: 100%;


    textarea {
        height: 150px;
        width: 100%;
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1rem 0.75rem;
        color: #b3b3b3;
        overflow: hidden;
        text-align: start;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        transition: opacity .1s ease-in-out, transform .1s ease-in-out;

    }







}



.form-control,
.was-validated,
.was-invalidated,
.message {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.625rem;
    display: block;
    width: 100%;
    font-family: var(--font-alt);
    font-size: 1rem;
    font-weight: 400;
    color: #b3b3b3;
    background-color: var(--black-color) !important;
    background-clip: padding-box;
    border: 1px solid #320064cf;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &::placeholder {
        color: transparent;
    }
}

.form-control:focus,
.was-validated:focus,
.was-invalidated:focus {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.625rem;
    color: var(--black-color);
    background-color: var(--gray-color) !important;
    border-color: #320064;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(50, 0, 100, 0.25);

}

// input,
// .message {

//     &::placeholder {
//         color: transparent;
//     }
// }

.form-control:focus~label,
.form-control:not(:placeholder-shown)~label,
.was-validated:focus~label,
.was-validated:not(:placeholder-shown)~label,
.was-invalidated:focus~label,
.was-invalidated:not(:placeholder-shown)~label,
.message:focus~label,
.message:not(:placeholder-shown)~label {
    opacity: .65;
    transform: scale(.85) translateY(-.5rem) translateX(0.15rem);
}

input {
    &:focus-visible {
        outline-offset: 0px;
    }
}






.valid-feedback {
    display: block;
    width: 50%;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    color: rgba(0, 255, 0, 0.758);
    font-size: .69rem;
}

.invalid-feedback {
    display: block;
    width: 50%;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    font-size: .69rem;
    color: rgba(255, 0, 0, 0.758);
}

.invalid-icon {
    position: absolute;
    margin: 1rem 0.5rem;
    top: 0;
    right: 0;
    
}

.was-validated {
   
    border: 1px solid rgba(0, 255, 0, 0.758);
    
}




.was-invalidated {
   
    border: 1px solid rgba(255, 0, 0, 0.758);
    

}




.btn-container {
    display: flex;
    justify-content: center;

    width: 100%;
}

.submit-btn {
    padding: 15px 40px;
    background: var(--black-color);
    border: 1px solid #330461;
    color: #b3b3b3;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 3px;
    position: relative;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: block;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, .3) 0px 19px 38px, rgba(0, 0, 0, .22) 0px 15px 12px;


    &:hover {
        padding: 15px 60px 15px 20px;

        &::before {
            opacity: 1;
            right: 15px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        opacity: 0;
        transform: rotate(-135deg) translateX(50%);
        width: 11px;
        height: 11px;
        background: transparent;
        border-left: 1px solid #b3b3b3;
        border-bottom: 1px solid #b3b3b3;
        margin-top: -1px;
        transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &::after {
        width: 30px;
        height: 1px;
        background: var(--black-color);
        transform: translateX(3px);
        margin-top: 0px;
    }
}


.captcha-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 100%;
}

